/* El estil amb * esborra els valors per defecte que té un navegador. Va bé per esborrar els valors per defecte de margin i padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
/*
#container {
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}
*/

/* CAPA 3>> Títol i barra inferior ---------------------------------------*/

.formulari {
  position: absolute;
  top: 60px;
  left: 50%;
  height: 1100px;
  transform: translate(
    -50%,0
  );
}

.desplegable {
  position: absolute;
  left: 50%;
  font-size: x-large;
  transform: translate(
    -50%,0
  );
  margin-top: 20px;
  margin-bottom: 50px;
}