/* El estil amb * esborra els valors per defecte que té un navegador. Va bé per esborrar els valors per defecte de margin i padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* CAPA 3>> Títol i barra inferior ---------------------------------------*/
.formulari {
  position: absolute;
  left: 50%;
  height: 900px;
  transform: translate(
    -50%,0
  );
}